<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Internet permission for Firebase -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- Storage permission for image upload -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- SMS permission for grocery list delegation -->
    <uses-permission android:name="android.permission.SEND_SMS" />
    <!-- Location permissions for geotagging stores -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- Notification and alarm permissions for meal reminders -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- Vibration permission for haptic feedback -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".MealMateApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/img_1"
        tools:targetApi="31">
        
        <!-- Google Maps API Key -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_api_key" />
            
        <!-- Google Play Services Version -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
            
        <!-- Broadcast Receiver for meal reminders -->
        <receiver
            android:name=".services.ReminderNotificationService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="mealmate.ACTION_SHOW_NOTIFICATION" />
                <action android:name="mealmate.ACTION_DISMISS_NOTIFICATION" />
                <action android:name="mealmate.ACTION_SNOOZE_NOTIFICATION" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
            
        <activity
            android:name=".activities.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.MealMate.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- Add new activities for store management -->
        <activity
            android:name=".activities.StoreListActivity"
            android:exported="false"
            android:label="@string/store_list_title" />
        <activity
            android:name=".activities.StoreFormActivity"
            android:exported="false" />
            
        <!-- Existing activities -->
        <activity
            android:name=".activities.RecipeImportActivity"
            android:exported="true"
            android:label="@string/import_recipe_title">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.MealMate.NoActionBar" />
        <activity
            android:name=".activities.RegisterActivity"
            android:exported="false"
            android:theme="@style/Theme.MealMate.NoActionBar" />
        <activity
            android:name=".activities.ForgotPasswordActivity"
            android:exported="false"
            android:theme="@style/Theme.MealMate.NoActionBar" />
        <activity
            android:name=".activities.ItemListActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ItemFormActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ItemDetailActivity"
            android:exported="false" />
        <activity
            android:name=".activities.MealListActivity"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.MealFormActivity"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.MealPlanActivity"
            android:exported="false"
            android:label="@string/meal_plan" />
        <activity
            android:name=".activities.MealPlanHomeActivity"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="@string/meal_plan" />
        <activity
            android:name=".activities.AddMealPlanActivity"
            android:exported="false"
            android:label="@string/add_meal_plan" />
        <activity
            android:name=".activities.MealPlanDetailActivity"
            android:exported="false"
            android:label="@string/meal_plan_detail" />
        <activity
            android:name=".activities.MealDetailActivity"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="@string/meal_details" />
        <activity
            android:name=".activities.GroceryListActivity"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="@string/grocery_list" />
        <activity
            android:name=".activities.GroceryListSelectionActivity"
            android:exported="false" />
        <activity
            android:name=".activities.GroceryListDetailActivity"
            android:exported="false" />
        <activity
            android:name=".activities.GroceryItemDetailActivity"
            android:exported="false"
            android:label="Item Details"
            android:parentActivityName=".activities.GroceryListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.GroceryListActivity" />
        </activity>
        <activity
            android:name=".activities.HomeActivity"
            android:exported="false"
            android:theme="@style/Theme.MealMate.NoActionBar" />
        <activity
            android:name=".activities.MainActivity"
            android:exported="false"
            android:theme="@style/Theme.MealMate.NoActionBar" />
        <activity
            android:name=".activities.ProfileActivity"
            android:exported="false"
            android:theme="@style/Theme.MealMate.NoActionBar" />
        <activity
            android:name=".activities.RecipeListActivity"
            android:exported="false" />
        <activity
            android:name=".activities.RecipeDetailActivity"
            android:exported="false" />
        <activity
            android:name=".activities.AddRecipeActivity"
            android:exported="false" />
        <activity
            android:name=".activities.EditRecipeActivity"
            android:exported="false" />
        <activity
            android:name=".activities.SearchActivity"
            android:exported="false" />
        <activity
            android:name=".activities.EditMealPlanActivity"
            android:exported="false" />
        
        <!-- Google Play Services Test Activity -->
        <activity
            android:name=".activities.GooglePlayServicesTestActivity"
            android:exported="false"
            android:label="Google Play Services Test"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        
    </application>

</manifest>
